#container{
    width: 1600px;
    height:900px;
    position: relative;
animation: myanimation 5s infinite;}


header{
    height: 80px;
    text-align: center;
    font-size: 50px;
    color: white;
    background-color: black;}





.navBar{

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: red;
    position: relative; 
    text-align: center;}
    .navBar li{
        float: none;
        display: inline-block;}
    
    .navBar li a{
        display: block;
        text-decoration: none;
        text-align: center;
        color: #FFFFFF;
        font-size: 23px;
        width: 200px;
        padding: 12px;
        position: relative;}
    
    .navBar li a:hover{
        background-color: black;
    
    -webkit-transition-duration 1.0s; 
     -moz-transition-duration:1.0s;
    -o-transition-duration: 1.0s;     
        transition-duration: 1.0s;}




        /*Kopiert inn fra Team Manager*/
        #taskSubmitBtn{
            top: 185px;
        }

        #taskDescription{
            width: 270px;
            height: 50px;
        }

        #taskNameLabel{
            font-size: 20px;
            font-weight: 700;
        }
        .input{
            border: 0px;
            background: transparent;
            border-bottom: 1px solid gray;
            font-size: 15px;
        }