#container{
    width: 1900px;
    height:900px;
    position: relative;
animation: myanimation 5s infinite;}


header{
    height: 80px;
    text-align: center;
    font-size: 50px;
    color: white;
    background-color: black;}





.navBar{

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: red;
    position: relative; 
    text-align: center;}
    .navBar li{
        float: none;
        display: inline-block;}
    
    .navBar li a{
        display: block;
        text-decoration: none;
        text-align: center;
        color: #FFFFFF;
        font-size: 23px;
        width: 200px;
        padding: 12px;
        position: relative;}
    
    .navBar li a:hover{
        background-color: black;
    
    -webkit-transition-duration: 1.0s; 
     -moz-transition-duration:1.0s;
    -o-transition-duration: 1.0s;     
        transition-duration: 1.0s;}




        /*Kopiert inn fra Team Manager*/
        #taskSubmitBtn{
            top: 200px;
        }

        #taskDescription{
            width: 270px;
            height: 40px;
        }

        #taskNameLabel{
            font-size: 20px;
            font-weight: 700;
        }
        .input{
            background: transparent;
            border-bottom: 1px solid gray;
            font-size: 15px;
           
        }


        .button{
            position: absolute;
            border: 1px solid gray;
            top: 99px;
        }
        
        .button:hover{
            background-color: lightgray;
        }

        .taskObject{
            position: absolute;
            width: 380px;
            height: 200px;
            left: 20px;
            top: 60px;
            border: 2px dashed gray;
        }


        main{
            position: relative;
            z-index: 1;
            top: 60px;
            height: 500px;
            width: 1350px;
        }
        
        .tasks{
            position: absolute;
            text-align: center;
            top: 15px;
            height: 800px;
            width: 450px;
        }
        
        #tasksHeadings{
            position: relative;
            width: 1351px;
            height: 60px;
            top: 125px;
            border-top: 2px solid gray;
        }
        
        .tasksHeading{
            width: 450px;
            position: absolute;
            text-align: center;
        }
        
        #unstartedHeading{
            border-right: 2px solid gray;
        }
        
        #ongoingHeading{
            left: 450px;;
            border-right: 1px solid gray;
        }
        
        #finishedHeading{
            left: 900px;
        }
        
        #unstartedTasks{
            border-right: 1px solid gray;
        }
        
        #ongoingTasks{
            left: 450px;
            border-right: 1px solid gray;
        }
        
        #finishedTasks{
            left: 900px;
        }