:root {
    --clr-light: linear-gradient(120deg, rgb(101, 224, 246), rgb(169, 73, 248));
    --clr-dark: linear-gradient(120deg, rgb(26, 65, 71),  rgb(58, 15, 94));
    --clr-primary: #dbffa2;
    --clr-secondary: #c3fcf2;
    --clr-accent: #ff7750;
    color: black;
    
  
    --foreground: var(--clr-dark);
    --background: var(--clr-light);
  
    --ff-title: "Playfair Display", serif;
    --ff-body: "Assistant", sans-serif;
  }
  



.darkmode {
    --clr-light: linear-gradient(120deg, rgb(101, 224, 246), rgb(169, 73, 248));
    --clr-dark: linear-gradient(120deg, rgb(26, 65, 71),  rgb(58, 15, 94));
    --clr-primary: #202302;
    --clr-secondary: #00100d;
    --clr-accent: #ff7750;
    color: white;
  
    --foreground: var(--clr-light);
    --background: var(--clr-dark);
  }
  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.darkModeToggle {
    position: absolute;
    z-index: 100;
    top: 5.5em;
    right: 1em;
    color: var(--foreground);
    border: 2px solid currentColor;
    padding: 4px;
    background: transparent;
    cursor: pointer;
    border-radius: 5px;
    width: 50px;
    height: 25px;
  }