body{
    margin-top: 0;
    background-color: whitesmoke;
}

#mainContainer{
    position: relative;
    margin: 0 auto;
    width: 1400px;
    height: 800px;
    border: 0px solid black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button:focus, input:focus, textarea:focus, select:focus{
    outline: none;
}

header{
    position: fixed;
    z-index: 3;
    width: 1400px;
    height: 120px;
    background-color: white;
    padding-bottom: 20px;
    background-color: whitesmoke;
    font-family: 'Pacifico', cursive;
    font-size: 18px;
}

.headerButton{
    position: absolute;
    border: 0px;
    top: 100px;
    height: 30px;
    font-size: 15px;
    cursor: pointer;
    color: black;
}

.additionBtn{
    position: absolute;
    background-color: lightgray;
    width: 172px;
    height: 30px;
    font-size: 15px;
    text-align: left;
    left: 290px;
    color: black;
    border: 0px;
}

#addChecklistRevealBtn{
    top: 35px;
}

#addIconRevealBtn{
    top: 70px;
}

#addDeadlineRevealBtn{
    top: 105px;
}

.button{
    position: absolute;
    border: 1px solid black;
    top: 90px;
    height: 20px;
    font-size: 10px;
    z-index: 2;
    cursor: pointer;
}

.button:hover{
    background-color: lightgray;
}

#taskSubmitBtn{
    top: 180px;
    left: 10px;
    background-color: lightgray;
    color: black;
    height: 30px;
    width: 120px;
    font-size: 15px;
}

#taskSubmitBtn:hover{
    border-color: orange;
    color: orange;
}

#memberSubmitBtn{
    top: 130px;
    left: 10px;
    background-color: lightgray;
    color: black;
    height: 30px;
    width: 55px;
    font-size: 15px;
}

#memberSubmitBtn:hover{
    border-color: orange;
    color: orange;
}

#addTaskRevealBtn{
    background-color: lightgray;
}

#addTaskRevealBtn:hover{
    background-color: orange;
}

#addMemberRevealBtn{
    left: 110px;
    background-color: lightgray;
}

#addMemberRevealBtn:hover{
    background-color: orange;
}

#revealMembersBtn{
    background-color: lightgray;
    left: 290px;
}

#revealMembersBtn:hover{
    background-color: orange;
}

#revealArchiveBtn{
    background-color: whitesmoke;
    right: 0px;
}

#revealArchiveBtn:hover{
    color: orange;
}

.additionForm{
    position: absolute;
    left: 470px;
    height: 0px;
    width: 250px;
    opacity: 0;
    padding: 10px;
    background-color: lightgray;
    color: black;
    font-size: 17px;
}

#taskIconForm{
    width: 400px;
    padding-left: 100px;
}

#taskDescription{
    position: absolute;
    z-index: 3;
    display: none;
    top: 40px;
    left: 12px;
    width: 240px;
    height: 120px;
    background-color: lightgray;
    resize: none;
    border: 0px;
    font-size: 15px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    
}

#counting{
    position: absolute;
    top: 170px;
    left: 15px;
}

.taskDescriptionPara{
    padding-top: 150px;
}

.headerSection{
    position: relative;
    top: 150px;
    width: 1400px;
    height: 0px;
    opacity: 0;
    transition: opacity 0.6s ease-in-out, height 0.3s ease-in-out;
    overflow: hidden;
}

#membersSection{
    width: 1380px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(100px,1fr));
    grid-auto-columns: minmax(100px,1fr);
    grid-column-gap: 20px;
    grid-auto-flow: column;
    overflow-x: auto;
}

#addMemberForm{
    width: 263px;
    height: 150px;
    padding: 10px;
    background-color: lightgray;
    color: black;
    font-size: 18px;
    font-weight: 700;
}

label{
    display: block;
    font-family: 'Nanum Gothic', sans-serif;
}

#taskNameLabel{
    font-size: 20px;
    font-weight: 700;
}

#taskNameForm{
    color:black;
    float: left;
    height: 200px;
    width: 263px;
    padding: 10px;
    margin-right: 60px;
    background-color: lightgray;
}

#taskChecklistForm{
    float: left;
}

#taskChecklistInput{
    display: none;
}

#createChecklistBtn{
    display: none;
    top: 60px;
    left: 10px;
    font-size: 13px;
    font-weight: 700;
    border: 0px;
    background: lightgray;
    color: black;
}

.input{
    display: block;
    border: 0px;
    background: transparent;
    border-bottom: 1px solid black;
    font-size: 15px;
}

input::placeholder{
    font-family: fantasy;
}
textarea::placeholder{
    font-family: fantasy;
    padding-top: 5px;
}

#tasksTable{
    position: relative;
    z-index: 1;
    top: 100px;
    height: 630px;
    width: 1400px;
    opacity: 1;
    transition: opacity 0.4s ease-in-out, height 0.3s ease-in-out;
}

#archive{
    position: relative;
    z-index: 3;
    top: 140px;
    height: 0px;
    width: 1400px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out, height 0.3s ease-in-out;
    border-top: 2px solid black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    overflow: auto;
}

.tasks{
    position: absolute;
    text-align: center;
    top: 89px;
    height: 630px;
    width: 450px;
    display: grid-inline;
    grid-row-gap: 20px;
    overflow-y: auto;
}

#tasksHeadings{
    position: relative;
    width: 1400px;
    height: 60px;
    top: 40px;
    border-top: 2px solid black;
}

.tasksHeading{
    width: 450px;
    position: absolute;
    text-align: center;
}

#unstartedHeading{
    border-right: 1px solid black;
}

#ongoingHeading{
    left: 450px;;
    border-right: 1px solid black;
}

#finishedHeading{
    left: 900px;
}

#unstartedTasks{
    border-right: 1px solid black;
}

#ongoingTasks{
    left: 450px;
    border-right: 1px solid black;
}

#finishedTasks{
    left: 900px;
}

.taskObject{
    position: relative;
    width: 380px;
    height: 200px;
    padding: 10px;
    margin-top: 30px;
    margin-left: 15px;
    border: 2px dashed black;
    cursor: pointer;
    transition: height 0.3s ease-in-out;
    overflow: hidden;
}

.taskObject:hover #deleteTaskBtn{
    background-color:#f7fafa;
}

.taskObject:hover{
    background-color: #f7fafa;
}

#taskHeading{
    padding-top: 30px;
}

.memberObject{
    width: 100px;
    height: 120px;
    margin-top: 5px;
    cursor: pointer;
    text-align: center;
    overflow: auto;
}

.buttonIcon{
    display: none;
    height: 40px;
    width: 40px;
    opacity: 0px;
    border: 0px;
    cursor: pointer;
    background: lightgray;
}

#activeIcon{
    position: absolute;
    left: 15px;
    height: 68px;
    width: 80px;
    padding-top: 12px;
    text-align: center;
}

.buttonIcon:hover{
    background: orange;
}

.imageIcon{
    height: 20px;
    width: auto;
}

#pickedIcon{
    height: 70px;
}

#taskIcon{
    position: absolute;
    left: 181px;
    height: 40px;
    width: auto;
}

.memberSlot{
    width: 100px;
    height: 120px;
    border: 1px dashed black;
}

#deleteTaskBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    border: 0px;
    background-color: whitesmoke;
}

#deleteTaskBtn:hover{
    cursor: pointer;
}

#deleteMemberBtn{
    position: absolute;
    border: 0px;
    background-color: #f7fafa;
}

.droppedMember{
    position: relative;
    height: 100px;
    width: 200px;
    overflow-y: scroll;
    background-color: lightgrey;
    display: inline-block;
}