.memberContainer {
    display: flex;
    justify-content: left;
    align-items: center;
}
.memberList {
    min-width: 30%;
    list-style: none;
    
}dfdf
.member {
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    transition: all 0.5s ease;
}
.member li {
    flex: 1;
}
.memberItem{
    padding: 0rem 0.5rem;
}
