#mainContainer{
    position: relative;
    margin: 0 auto;
    width: 1400px;
    height: 800px;
    border: 0px solid black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button:focus, input:focus, textarea:focus, select:focus{
    outline: none;
}

header{
    position: fixed;
    width: 1400px;
    height: 110px;
    z-index: 2;
    background-color: white;
}

.button{
    position: absolute;
    border: 1px solid gray;
    top: 90px;
}

.button:hover{
    background-color: lightgray;
}

#taskSubmitBtn{
    top: 185px;
}

#addMemberRevealBtn{
    left: 90px;
}

#taskDescription{
    width: 270px;
    height: 50px;
}

.addSection{
    position: relative;
    z-index: 0;
    top: 130px;
    width: 950px;
    height: 0px;
    opacity: 0;
    transition: opacity 0.6s ease-in-out, height 0.3s ease-in-out;
    overflow: hidden;
}

label{
    font-family: fantasy;
}

#taskNameLabel{
    font-size: 20px;
    font-weight: 700;
}

textarea{
    resize: none;
}

.input{
    border: 0px;
    background: transparent;
    border-bottom: 1px solid gray;
    font-size: 15px;
}

main{
    position: relative;
    z-index: 1;
    top: 60px;
    height: 500px;
    width: 1350px;
}

.tasks{
    position: absolute;
    text-align: center;
    top: 15px;
    height: 800px;
    width: 450px;
}

#tasksHeadings{
    position: relative;
    width: 1350px;
    height: 60px;
    top: 125px;
    border-top: 2px solid gray;
}

.tasksHeading{
    width: 450px;
    position: absolute;
    text-align: center;
}

#unstartedHeading{
    border-right: 2px solid gray;
}

#ongoingHeading{
    left: 450px;;
    border-right: 1px solid gray;
}

#finishedHeading{
    left: 900px;
}

#unstartedTasks{
    border-right: 1px solid gray;
}

#ongoingTasks{
    left: 450px;
    border-right: 1px solid gray;
}

#finishedTasks{
    left: 900px;
}

.taskObject{
    position: absolute;
    width: 380px;
    height: 200px;
    left: 20px;
    top: 60px;
    border: 2px dashed gray;
}